# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
db-proxy

# Test
*.test
*.out
coverage.html

# Dependency
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
